.navWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'BebasNeue-Regular';
  font-size: 32px;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
}

.channels {
  max-width: 92%;
}

@media only screen and (max-width: 1000px) {
  .navWrap {
    font-size: 25px;
    margin-top: 3vw;
  }
}
