.aboutWrap {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.banner {
  display: flex;
  align-items: center;
}

.bottomWrap {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.imageWrap {
  display: block;
  width: 50%;

  margin: 0 auto;
}

#iowaPic {
  width: 70%;
}

.aboutP {
  font-size: 2.5vw;
  line-height: 95%;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  .banner {
    flex-direction: column;
  }

  #welderPic {
    width: 30%;
    margin-bottom: 5vw;
  }

  .aboutWrap {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .aboutP {
    font-size: 7vw;
    color: white;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .imageWrap {
    display: block;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
  }

  .bottomWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  #iowaPic {
    width: 50%;
    margin: 10vw;
    margin-top: 5vw;
  }
}
